/* 样式初始化 */
*{margin: 0; padding: 0; }
body{font-size: 14px; font-family: "Microsoft YaHei","微软雅黑", Arial, Helvetica; color:#000; }
ol,ul{list-style:none; }
table{border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0; outline:none;}
.clear{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
em{font-weight:normal; font-style:normal; }
.col-l,.left{float: left; }
.col-r,.right{float: right; }
.c{clear: both; }
input{box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border: 0;outline: none;}
/* 开户页面的样式开始 */
.kh-title a{position: absolute; left: 15px; top: 13px;}
.kh-title a img {height: 24px; }
.kh-title h2{background-color: #f54337; height: 50px;line-height: 50px;font-size: 18px;font-weight: bold;color: #fff;text-align: center;}
.kh-main{overflow: hidden;}
.kh-nav{height: 48px;line-height: 48px;font-size: 16px;color: #212122;background-color: #fff;border-bottom: 5px solid #f1f1f1;}
.kh-nav li{float: left;width: 33.33%;text-align: center;height: 47px;line-height: 47px;}
.kh-nav li.on{color: #f44336;border-bottom: 2px solid #f44336;}
.kh-content{font-size: 16px;color: #2e2e2f;line-height: 1.4em;background-color: #fff;}
.kh-content .pic{padding: 10px 0;text-align: center;border-bottom: 1px solid #e3e3e3;}
.kh-content .pic img{max-width: 60%;}
.kh-content .list{overflow: hidden;text-align: center;border-bottom: 1px solid #f1f1f1;}
.kh-content .list li{float: left;width: 33.33%;padding: 20px 0;}
.kh-content .gupiao .list img,.kh-content .waihui .list img{width: 62%;height: auto;}
.kh-content .qihuo .list img{width: 40%;}
.kh-content .list span{font-size: 14px;color: #959595;line-height: 1.2em;display: inline-block;width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; padding: 0 5px;}
.kh-content .txt{padding: 20px 15px;border-bottom: 1px solid #f1f1f1;font-size: 14px;}
.kh-erweima{padding: 30px 0;text-align: center;background-color:#f1f1f1;}
.kh-erweima img{width: 126px;height: 126px;}
.kh-erweima p{color: #a0a0a0;font-size: 16px;}
.kh-content .qihuo .list li{float: left;width: 50%;padding-bottom: 20px;border-bottom: 1px solid #f1f1f1;}
.kh-content .qihuo .list li.line{border-right: 1px solid #f1f1f1;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.kh-content .item .kh-way{padding: 20px 15px;}
.kh-content .kh-way h3{font-size: 18px;font-weight: normal;line-height: 1.4em;padding-bottom: 10px;} 
.kh-content .kh-way p{font-size: 16px;color: #f54337;}
.kh-content .kh-way p.last{margin-top: 10px;height: 38px;line-height: 38px;padding-bottom:48px;}
.kh-content .kh-way p input{height: 38px;line-height: 38px; width: 60%;padding: 0 5px;font-size: 16px; border: 1px solid #dcdcdc;border-radius: 3px;vertical-align: middle;}
.kh-content .kh-way p a{display: inline-block; height: 38px;line-height: 38px; width: 76px;text-align: center; background-color: #f54337;color: #fff;border-radius: 3px;margin-left: 4px;vertical-align: middle;text-decoration: none;}
/* 开户入口页面 */
.kh-entrance{padding-bottom: 50px;}
.kh-entrance li{margin-bottom: 10px;}
.kh-entrance li img{width: 100%;display: block;}

